@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Belanosima&family=Maven+Pro:wght@500;700&display=swap');

:root {
    --color-clear-blue: rgb(10, 103, 122);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
    font-family: 'BIZ UDPGothic', sans-serif;
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
}

body {
    overflow: hidden;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(5, 1fr);
}

.sidebar {
    background-color: var(--color-clear-blue);
    grid-row: 1/6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 4rem;
    padding-left: 1rem;
}

.sidebar>div,
.sidebar>a {
    text-transform: capitalize;
    text-decoration: none;
    margin-bottom: 2rem;
    color: azure;
}

.sidebar>a>span,
.sidebar>div>span {
    vertical-align: top;
    margin-right: 5px;
}

.header {
    background-color: rgb(20, 177, 149);
}

/* .header>div {
    padding-left: 15px;
} */

.header input[type="text"] {
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 45px;
    width: 850px;
}

.header button {
    border-radius: 15px;
    width: 90px;
    background-color: var(--color-clear-blue);
    color: white;
}

.main-content {
    background-color: turquoise;
    grid-row: 2/6;
    display: grid;
    grid-template: 1fr 1fr/ 4fr 1fr;
    gap: 8px;
}

#projects {
    grid-row: 1 / span 2;
    background-color: white;
}

.main-content>div {
    background-color: gray;
    padding: 10px;
}




